body {
  margin: 0;
}

svg, #data-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

#night-rect {
  fill: hsl(210, 85%, 20%);
}

#civil-arc {
  fill: hsl(210, 80%, 65%);
}

#day-arc {
  fill: hsl(210, 85%, 80%);
}

#face {
  fill: hsl(215, 100%, 70%);
}

#data-overlay {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16pt;
}

#data-overlay label {
  display: inline-block;
  color: hsl(215, 100%, 90%);
  font-size: 12pt;
  line-height: 1.1;
}

.info {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

#rise-info {
  top: 40px;
  width: 33%;
}

#noon-info {
  left: 33%;
  width: 34%;
}

#set-info {
  top: 40px;
  left: 67%;
  width: 33%;
}

#time-info {
  top: 40%;
  width: 100%;
  height: 20%;
}

#time-info div {
  position:relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

#dawn-info {
  bottom: 45px;
  width: 33%;
  vertical-align: bottom;
}

#midnight-info {
  bottom: 5px;
  left: 33%;
  width: 34%;
  vertical-align: bottom;
}

#dusk-info {
  bottom: 45px;
  left: 67%;
  width: 33%;
  vertical-align: bottom;
}
